# DATA 612 Recommender Systems Final Project Proposal


# The Book Recommender

### Project Scope

Find an interesting dataset and describe the system you plan to build out. If you would like to use one of the datasets you have already worked with, you should add a unique element or incorporate additional data. (i.e. explicit features you scrape from another source, like image analysis on movie posters). The overall goal, however, will be to produce quality recommendations by extracting insights from a large dataset. You may do so using Spark, or another distributed computing method, OR by effectively applying one of the more advanced mathematical techniques we have covered. There is no preference for one over the other, as long as your recommender works!

### Project Plan

The project will build a recommender system for books using the BookCrossing (BX) dataset which was collected by Cai-Nicolas Ziegler in a 4-week crawl (August / September 2004) The dataset contains 278,858 users and over 1,149,780 ratings about 271,379 books.

The link here provides more information about the dataset: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

The recommendation system will use Databricks as the distributed computing system, Pyspark as the language, and build a model using Alternating Least Squares as the recommender model.

### Brief Data Exploration

In the code blocks below, we that there are 1,149,780 records in the dataset.  The ratings for the books range from 0 to 10.

In [14]:
import pandas as pd

books = pd.read_csv("BX-Book-Ratings.csv", sep=";")
print("The number of records in the dataset is ", len(books))

The number of records in the dataset is  1149780

In [15]:
books.describe().round()

         User-ID  Book-Rating
count  1149780.0    1149780.0
mean    140386.0          3.0
std      80562.0          4.0
min          2.0          0.0
25%      70345.0          0.0
50%     141010.0          0.0
75%     211028.0          7.0
max     278854.0         10.0

Looking at the first five rows, I will have to clean the ISBN data as the ALS model cannot handle non-numeric data.

In [16]:
print("These are the first five rows")
books.head(5)

These are the first five rows

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

### Project Presentation

Presentation of the project will be recorded and posted to YouTube on my channel:

https://www.youtube.com/channel/UCKLwxp5_YGMBw3bphfbgs6Q?view_as=subscriber